{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Incomes Summary</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    My Summary
                </li>
              </ol>
            </nav>
        </div>
    </div>
    <div class="col-md-12">
        <div class="chartBox chart-container">
            <canvas id="myChartOne"></canvas>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="chartBox">
            <canvas id="myChartThree"></canvas>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="chartBox">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<style>
    .chartBox {
        position: relative;
        width:1500px;
        margin: 0 auto;
    }
</style>
<script src="{% static 'js/statsIncomes.js' %}"></script>
{% endblock %}